.container {
    display: flex;
}

.left-bar {
    width: 270px;
    background: #fff;
    height: 100vh;
    padding: 0 10px;
    box-shadow: 1px 0px 16px #4644442b;
}

.platform-label {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}