.container {
    display: flex;
    background: var(--background);
}

.left-bar {
    width: 270px;
    background: var(--background);
    height: 100vh;
    padding: 0 10px;
    border-right: 2px solid var(--hover-color);
}

.right-bar {
    width: 100%;
}

.platform-label {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.content {
    padding: 25px 40px;
}