.container {
    display: flex;
}

.right-bar {
    background: var(--background);
    border: 0;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.logo {
    background: var(--background);
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
