.container {
    display: flex;
}

.right-bar {
    background: #fff;
    border: 0;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    display: flex;
    align-items: center;
    padding-right: 20px;
}
