.block-title {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 20px;
}

.block {
    margin: 20px auto;
    padding: 30px;
    background: var(--background);
    border-radius: 10px;
    max-width: 1280px;
}

.block-description {
    text-align: center;
    max-width: 800px;
    margin: auto;
}