@import url('./commons.css');
@import url('./ant.layout.css');
@import url('./ant.menu.css');
@import url('./ant.button.css');
@import url('./ant.modal.css');

body {
    margin: 0;
    background: var(--background);
}

* {
    font-family: "Inter", sans-serif;
}
